


/* sections -----------------------------------------------*/

	/*nav section*/




	/*articles section*/

.articleInfo{
	display: inline-flex;
}

	/*web section*/

.siteInfo{
	display: inline-flex;
	margin: 2rem 0;
}

	/*web section*/

#photoBlock{
	width:95%;
	max-width: 1000rem;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(15rem,1fr));
	grid-gap: 1rem;
	transition: 2s;
}

.photo{
  display:flex;
  flex-direction:column;
}

/* media queries -----------------------------------------------*/

@media (min-width: 500px){
	.wrapper{
		grid-template-areas: 
			"brand nav nav"
			"about about articles"
			"web web articles"
			"photo photo articles"
			"graphics graphics contact"
			"footer footer footer";
	}
}


