/*$bg-color:#475841;
$nav-color:#3F403F;
$footer-color:#9FB8AD;
$main-font-color:#3F403F;
$btn-font-color:#CED0CE;
$accent-color:#9FB8AD;
$heading-font-color:#575841;*/
#brand {
  grid-area: brand;
  justify-self: center;
  align-self: center;
  height: 80px;
  width: 100%; }

#nav {
  grid-area: nav;
  justify-self: center;
  align-self: start;
  height: 80px;
  width: 100%; }

#topImg {
  grid-area: topImg; }

#about {
  grid-area: about; }

#articles {
  grid-area: articles; }

#web {
  grid-area: web; }

#photo {
  grid-area: photo; }

#graphics {
  grid-area: graphics; }

#contact {
  grid-area: contact; }

#footer {
  grid-area: footer; }

.wrapper {
  /*height: 100vh;*/
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: minmax(80px 80px auto);
  grid-template-areas: "brand brand brand" "nav nav nav" "topImg topImg topImg" "about about about" "articles articles articles" "web web web" "photo photo photo" "graphics graphics graphics" "contact contact contact" "footer footer footer"; }
  @media (min-width: 768px) {
    .wrapper {
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: minmax(80px, auto);
      grid-template-areas: "brand nav nav" "topImg topImg topImg" "about about articles" "web web web" "photo photo photo" "graphics graphics graphics" "contact contact contact" "footer footer footer"; } }

* {
  box-sizing: border-box; }

body {
  background-color: #596475;
  font-family: "Domine", serif;
  font-size: 10px; }

h1, h2 {
  font-family: "Titillium Web", sans-serif; }

.sectionTitle {
  font-size: 2.5rem;
  color: #3F403F;
  text-align: center; }

#brand-logo-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: #242325; }

#brand-logo {
  height: 70px;
  width: 90%; }

/*#nav - containing grid item
#navbarLinks - div containing ul for nav
.navLink - individual li containing link for nav

*/
#nav {
  background-color: #242325; }

#navbarLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  /*height:200px;*/ }
  #navbarLinks ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0; }
    @media (min-width: 475px) {
      #navbarLinks ul {
        width: 100%;
        flex-direction: row;
        justify-content: space-evenly; } }

.navLink {
  text-align: center;
  /*display: block;*/ }
  .navLink a {
    display: inline-block;
    text-decoration: none;
    font: 0.75rem "Titillium Web", sans-serif;
    line-height: 1rem; }
  .navLink a:visited, .navLink a:link {
    color: #f26419; }
  .navLink a:hover, .navLink a:active {
    color: #f6ae2d; }
  @media (min-width: 475px) {
    .navLink {
      display: inline-block; }
      .navLink a {
        font-size: 1rem; } }

#topImg {
  background-color: red; }
  #topImgDiv {
    width: 100%;
    height: 400px;
    position: relative;
    overflow: hidden; }
    #topImgDiv img {
      max-width: 200%;
      position: absolute;
      left: 0px;
      top: 0px; }

.articleInfo {
  display: inline-flex; }

#articles h2 {
  text-align: center;
  color: #3F403F;
  font-size: 2rem; }

.articleBlock {
  /*border: solid .5px rgba(166,255,250,.3);*/
  margin: 0 25px; }

.articleTitle {
  text-align: center;
  font-family: "Comfortaa", cursive;
  font-size: 1.25rem;
  margin-bottom: 0;
  background-color: #f26419;
  color: #fffaff;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding: 5px 0; }

.articleInfo {
  font-family: "Comfortaa", cursive;
  background-color: #f6ae2d; }

.articleImg {
  display: block;
  margin: 0 auto; }

.articleDescription {
  font: "Comfortaa", cursive;
  padding: 0 10px; }

.articleDescription::first-line {
  font-size: 1rem; }

.siteInfo {
  display: inline-flex;
  margin: 2rem 0; }

#web {
  padding: 15px; }

.siteTitle {
  font: 2rem "Titillium Web", sans-serif;
  color: #f6ae2d;
  margin: 0; }

.siteDescription {
  font: 0.85rem "Domine", serif;
  color: #100894;
  margin: 0 1rem; }

#photoBlock {
  width: 95%;
  max-width: 1000rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 1rem;
  transition: 2s; }

.photo {
  display: flex;
  flex-direction: column; }

.photoTitle {
  text-align: center; }

#footer {
  background-color: #242325;
  height: 80px; }

/*# sourceMappingURL=style.css.map */
