/*$bg-color:#475841;
$nav-color:#3F403F;
$footer-color:#9FB8AD;
$main-font-color:#3F403F;
$btn-font-color:#CED0CE;
$accent-color:#9FB8AD;
$heading-font-color:#575841;*/
#brand {
  grid-area: brand;
  justify-self: center;
  align-self: center;
  height: 100px;
  width: 100%; }
  @media (min-width: 970px) {
    #brand {
      height: 150px; } }

#nav {
  grid-area: nav;
  justify-self: center;
  align-self: start;
  /*height: $standard-height;*/
  width: 100%; }
  @media (min-width: 970px) {
    #nav {
      /*height: $standard-height-md;*/ } }

#topImg {
  grid-area: topImg; }

#about {
  grid-area: about; }

#articles {
  grid-area: articles;
  justify-items: center; }

#web {
  grid-area: web; }

#photo {
  grid-area: photo; }

#graphics {
  grid-area: graphics; }

#contact {
  grid-area: contact; }

#footer {
  grid-area: footer; }

#main-body {
  grid-area: main-body; }

#wrapper-head {
  /*height: 100vh;*/
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: minmax(100px auto);
  grid-template-areas: "brand brand brand" "nav nav nav" "topImg topImg topImg"; }
  @media (min-width: 768px) {
    #wrapper-head {
      grid-template-columns: repeat(2, 1fr) 300px;
      grid-auto-rows: minmax(100px, auto);
      grid-template-areas: "brand brand brand" "nav nav nav" "topImg topImg topImg"; } }

#wrapper-body {
  /*height: 100vh;*/
  margin: 0 auto;
  display: grid;
  max-width: 1200px;
  grid-template-columns: repeat(2, 1fr);
  /*grid-template-rows: minmax($standard-height $standard-height auto);*/
  grid-template-areas: "about about about" "articles articles articles" "web web web" "photo photo photo" "graphics graphics graphics" "contact contact contact" "footer footer footer"; }
  @media (min-width: 768px) {
    #wrapper-body {
      grid-template-columns: repeat(2, 1fr) 300px;
      /*grid-auto-rows: minmax($standard-height, auto);*/
      width: 100%;
      grid-template-areas: "about about articles" "web web web" "photo photo photo" "graphics graphics graphics" "contact contact contact" "footer footer footer"; } }

#wrapper-body-sub {
  /*height: 100vh;*/
  margin: 0 auto;
  display: grid;
  max-width: 1200px;
  grid-template-columns: 1fr;
  /*grid-template-rows: minmax($standard-height $standard-height auto);*/
  grid-template-areas: "main-body main-body main-body" "footer footer footer"; }
  @media (min-width: 768px) {
    #wrapper-body-sub {
      grid-template-columns: repeat(2, 1fr) 300px;
      /*grid-auto-rows: minmax($standard-height, auto);*/
      grid-template-areas: "main-body main-body main-body" "footer footer footer"; } }

#custom-handle {
  width: 3em;
  height: 1.6em;
  top: 50%;
  margin-top: -.8em;
  text-align: center;
  line-height: 1.6em;
  color: #f26419;
  font-size: initial; }

#slider {
  width: 100%;
  max-width: 600px;
  margin: 0 auto; }

#menuOpen {
  display: block;
  width: 60px;
  height: 45px;
  /*position: relative;*/
  position: absolute;
  right: 22px;
  top: 0;
  margin: 10px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer; }
  @media (min-width: 475px) {
    #menuOpen {
      display: none; } }

#menuOpen span {
  display: block;
  position: absolute;
  height: 6px;
  width: 100%;
  background: #d3531a;
  border-radius: 25px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out; }

/* Icon 3 */
#menuOpen span:nth-child(1) {
  top: 0px; }

#menuOpen span:nth-child(2), #menuOpen span:nth-child(3) {
  top: 18px; }

#menuOpen span:nth-child(4) {
  top: 36px; }

#menuOpen.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%; }

/*#navbarLinks.open{
  height:300px;
}
*/
#menuOpen.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

#menuOpen.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }

#menuOpen.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%; }

.stickyNav {
  position: fixed;
  top: 0px;
  max-height: 70px;
  z-index: 999;
  width: 100%;
  padding-top: 17px;
  background: none;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
  top: -100px;
  padding-bottom: 6px;
  font-family: "Montserrat", sans-serif; }

@media only screen and (max-width: 766px) {
  .stickyNav {
    padding-top: 25px; } }
.open-nav {
  max-height: 400px !important; }

/*.open-nav .mobile-toggle {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}*/
.sticky {
  background-color: rgba(255, 255, 255, 0.93);
  opacity: 1;
  top: 0px;
  border-bottom: 1px solid gainsboro; }

.logo {
  width: 50px;
  font-size: 25px;
  color: #8f8f8f;
  text-transform: uppercase;
  float: left;
  display: block;
  margin-top: 0;
  line-height: 1;
  margin-bottom: 10px; }

@media only screen and (max-width: 766px) {
  .logo {
    float: none; } }
nav {
  float: right;
  width: 60%; }

@media only screen and (max-width: 766px) {
  nav {
    width: 100%; } }
nav ul {
  list-style: none;
  overflow: hidden;
  text-align: right;
  float: right; }

@media only screen and (max-width: 766px) {
  nav ul {
    padding-top: 10px;
    margin-bottom: 22px;
    float: left;
    text-align: center;
    width: 100%; } }
nav ul li {
  display: inline-block;
  margin-left: 35px;
  line-height: 1.5; }

@media only screen and (max-width: 766px) {
  nav ul li {
    width: 100%;
    padding: 7px 0;
    margin: 0; } }
nav ul a {
  color: #888888;
  text-transform: uppercase;
  font-size: 12px; }

.mobile-toggle {
  display: none;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: 22px;
  top: 0;
  width: 30px;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  transition: all 200ms ease-in; }

@media only screen and (max-width: 766px) {
  .mobile-toggle {
    display: block; } }
.mobile-toggle span {
  width: 30px;
  height: 4px;
  margin-bottom: 6px;
  border-radius: 1000px;
  background: #8f8f8f;
  display: block; }

.row {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  position: relative;
  padding: 0 2%; }

* {
  box-sizing: border-box; }

body {
  color: #8f8f8f;
  background: white;
  font-family: "Cardo", serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased; }

a {
  text-decoration: none; }

h1 {
  font-size: 30px;
  line-height: 1.8;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif; }

p {
  margin-bottom: 20px;
  font-size: 17px;
  line-height: 2; }

.content {
  padding: 50px 2% 250px; }

.hero {
  position: relative;
  background: url(http://www.philippefercha.com/cd/toggle-menu-bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  text-align: center;
  color: #fff;
  padding-top: 110px;
  min-height: 500px;
  letter-spacing: 2px;
  font-family: "Montserrat", sans-serif; }

.hero h1 {
  font-size: 50px;
  line-height: 1.3; }

.hero h1 span {
  font-size: 25px;
  color: #e8f380;
  border-bottom: 2px solid #e8f380;
  padding-bottom: 12px;
  line-height: 3; }

.mouse {
  display: block;
  margin: 0 auto;
  width: 26px;
  height: 46px;
  border-radius: 13px;
  border: 2px solid #e8f380;
  position: absolute;
  bottom: 40px;
  position: absolute;
  left: 50%;
  margin-left: -26px; }

.mouse span {
  display: block;
  margin: 6px auto;
  width: 2px;
  height: 2px;
  border-radius: 4px;
  background: #e8f380;
  border: 1px solid transparent;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
  animation-name: scroll; }

@-webkit-keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px); } }
@keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px); } }
.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
  border-top-left-radius: 25px; }

.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
  border-top-right-radius: 25px; }

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
  border-bottom-left-radius: 25px; }

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
  border-bottom-right-radius: 25px; }

:focus {
  outline: none;
  outline-color: none;
  outline-style: none;
  outline-width: 0; }

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
  border: 1px solid #86bbd8;
  background: #14141e;
  font-weight: normal;
  color: #555555; }

* {
  box-sizing: border-box; }

body {
  background-color: #14141e;
  font-family: "Quicksand", sans-serif;
  font-size: 10px; }

h1, h2 {
  font-family: "Arvo", serif;
  letter-spacing: .35rem;
  font-weight: normal;
  text-transform: lowercase; }

h1 {
  font-size: 2.5rem; }

p {
  font-size: 1rem; }

.sectionTitle {
  color: #f6ae2d;
  /*background-color: $title-bg-color;*/
  text-align: center;
  padding: 3rem 0 1rem;
  margin: 2rem 1rem 1rem;
  /*	border-top: .05rem solid $accent-color3;*/
  border-bottom: 0.05rem solid #86bbd8; }

.heading-description {
  font-size: .85rem;
  margin: 0;
  font-family: "Comfortaa", cursive;
  letter-spacing: initial;
  line-height: 1;
  font-weight: normal;
  text-transform: none;
  color: #86bbd8; }

.code {
  font-family: monospace;
  background-color: rgba(230, 232, 230, 0.3);
  border-radius: 25px;
  padding: 0 .15rem; }
  @media (min-width: 768px) {
    .code {
      padding: .15rem .35rem;
      border: solid 0.15rem #f6ae2d; } }

#brand-logo-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #14141e; }
  @media (min-width: 970px) {
    #brand-logo-div {
      height: 150px; } }

#brand-logo {
  height: 70px;
  width: 90%; }

/*#nav - containing grid item
#navbarLinks - div containing ul for nav
.navLink - individual li containing link for nav

*/
#nav {
  background-color: #14141e; }

/*.sticky{
	display: none;
	position: fixed;
	top:0;
	left:0;
	z-index: 11111;
	height: 5rem;
}*/
#navbarLinks {
  display: hidden;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: initial; }
  @media (min-width: 475px) {
    #navbarLinks {
      display: flex;
      height: 100px; } }
  #navbarLinks ul {
    display: none; }
    @media (min-width: 475px) {
      #navbarLinks ul {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-evenly;
        list-style-type: none;
        /*margin:0 0 1rem 0;*/
        padding: 0; } }

#navbarLinks-mobile ul {
  display: none;
  flex-direction: column;
  list-style-type: none;
  margin: 0 0 1rem 0;
  padding: 0; }
  #navbarLinks-mobile ul li {
    padding: .5rem 0; }
  @media (min-width: 475px) {
    #navbarLinks-mobile ul {
      display: none; } }
@media (min-width: 475px) {
  #navbarLinks-mobile {
    display: none; } }

.navLink {
  text-align: center;
  /*display: block;*/ }
  .navLink a {
    display: inline-block;
    text-decoration: none;
    font: 1.5rem "Arvo", serif;
    text-transform: lowercase; }
  .navLink a:visited, .navLink a:link {
    color: #f26419; }
  .navLink a:hover, .navLink a:active {
    color: #f6ae2d;
    transition: .5s; }
  @media (min-width: 475px) {
    .navLink {
      display: inline-block; }
      .navLink a {
        font-size: 1rem;
        padding: 1rem; } }
  @media (min-width: 768px) {
    .navLink a {
      font-size: 1.2rem;
      padding: 1.25rem; } }
  @media (min-width: 970px) {
    .navLink a {
      font-size: 1.5rem;
      margin-top: 1rem;
      padding: 1.5rem; } }

#topImg {
  border-bottom: solid 0.25rem #f6ae2d;
  border-top: solid 0.25rem #f6ae2d;
  display: block; }
  #topImgDiv {
    width: 100%;
    height: 200px;
    /*position: absolute;*/
    overflow: hidden;
    /*img{
    	width: 200%;
    	position: absolute;
    	left:-50%;
    	top:-75%;
    	@media(min-width: $bp-large){
    		top:-75%;
    	}
    }*/ }
    @media (min-width: 1200px) {
      #topImgDiv {
        height: 400px; } }

/*#selectedTopImg{
	background-image: url(../images/arches.jpg);
	position: relative;
	height: inherit;
}*/
#selectedTopImg {
  background-image: url(../images/arches.jpg);
  /*background-position:is set via scripts*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-origin: padding-box;
  /*padding: 5rem 0 3rem 0;*/
  margin-bottom: 6rem;
  box-shadow: 0 0.5rem 1rem rgba(4, 42, 43, 0.8);
  height: 60rem; }

#about p {
  padding: 0 1rem;
  color: #E6E8E6; }
  @media (min-width: 475px) {
    #about p {
      line-height: 1.5rem; } }
  @media (min-width: 768px) {
    #about p {
      font-size: 1rem;
      padding-bottom: 1rem;
      line-height: 2rem; } }

.big-text {
  font-size: 1.75rem;
  display: inline-block;
  /*@media(min-width: )*/ }

.articleInfo {
  display: inline-flex;
  flex-direction: column; }

#articles h2 {
  text-align: center;
  color: #E6E8E6;
  font-size: 2rem; }

.articleBlock {
  /*border: solid .5px rgba(166,255,250,.3);*/
  margin: 0 25px; }

.articleTitle {
  border-top: solid 0.08rem #86bbd8;
  border-left: solid 0.08rem #86bbd8;
  border-right: solid 0.08rem #86bbd8;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  text-align: center;
  font-family: "Comfortaa", cursive;
  font-size: .75rem;
  margin-bottom: 0;
  color: #86bbd8;
  padding: 10px 0; }

.articleInfo {
  border-top: solid 0.08rem #f26419;
  border-bottom: solid 0.08rem #86bbd8;
  border-left: solid 0.08rem #86bbd8;
  border-right: solid 0.08rem #86bbd8;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-top: 10px;
  font-family: "Comfortaa", cursive;
  background-color: #14141e;
  color: #f6ae2d; }

.articleImg {
  display: block;
  margin: 0 auto; }

.imgGlow {
  transition: box-shadow .3s; }

.imgGlow:hover {
  box-shadow: 0 0 18px #86bbd8; }

.articleDescription {
  font: "Comfortaa", cursive;
  padding: 0 10px; }

.articleDescription::first-line {
  font-size: 1rem; }

.subPage {
  padding: 0 1rem;
  color: #E6E8E6;
  /*@include big-text;*/ }
  @media (min-width: 475px) {
    .subPage {
      line-height: 1.5rem; } }
  @media (min-width: 768px) {
    .subPage {
      font-size: 1rem;
      padding-bottom: 1rem;
      line-height: 2rem; } }
  .subPage .titleImage {
    display: block;
    margin: 1rem auto; }
  .subPage img {
    width: 50%; }
  .subPage #patsyColorChangeDiv {
    background-color: black;
    width: 100%;
    max-width: 500px;
    height: 400px;
    margin: 0 auto; }
    .subPage #patsyColorChangeDiv img {
      display: block;
      height: 100%;
      margin: 0 auto; }
  .subPage .captionBox {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 600px; }
    .subPage .captionBox p {
      margin: 0 auto;
      width: 60%;
      padding: 0 1rem;
      /*font-size: .85rem;*/
      text-align: center; }
  .subPage li {
    margin-top: 2rem;
    background-color: #353535;
    padding: 1rem 0 1rem .5rem;
    border-radius: .5rem; }
  .subPage li img {
    width: 90%;
    display: block;
    margin: 1rem 0; }
    @media (min-width: 475px) {
      .subPage li img {
        width: initial;
        margin: .5rem 0; } }

.siteInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0; }
  @media (min-width: 768px) {
    .siteInfo {
      flex-direction: row; } }

#web {
  padding: 15px; }

.siteTitle {
  font: 1rem "Arvo", serif;
  color: #f6ae2d;
  margin: 0; }

.siteImg {
  max-width: 200px; }
  @media (min-width: 475px) {
    .siteImg {
      max-width: 400px; } }
  @media (min-width: 970px) {
    .siteImg {
      max-width: 600px; } }

.siteDescription {
  font: 1rem "Quicksand", sans-serif;
  color: #E6E8E6;
  margin: 0 1rem; }
  @media (min-width: 475px) {
    .siteDescription {
      font-size: 1.25rem; } }

#photoBlock {
  width: 95%;
  max-width: 1000rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 1rem;
  transition: 2s; }

.photo {
  display: flex;
  flex-direction: column; }

.photoTitle {
  text-align: center; }

#footer {
  background-color: #242325;
  height: 100px; }

/*# sourceMappingURL=style.css.map */
