#contact p{
	@include main-body-font;
}

#contact{
	p{
		@include main-body-font;
		@include link;
	}

	#contactListDiv{
		display: flex;
		justify-content: center;
	}

	#contactList{
		display: inline-flex;
		flex-wrap: wrap;
		justify-content: space-around;
		list-style-type: none;
		padding:0;
		width:50%;
		@media(min-width:$bp-large){
			width:100%;
		}
		li{
			@include link;
			display: inline;
			font-size: 4rem;
			text-align: center;
			line-height: 10px;
			margin:30px;
			/*.contactDesc{
				font-size: .6rem;
			}*/
		}
	}
}