#nav{
	background-color: $nav-color;
	border-bottom: solid 5px $heading-font-color;
}

#navbarLinks{
	ul{
		display: flex;
		flex-direction: row;
		list-style-type: none;
		flex-wrap: nowrap;
		justify-content: space-around;
		align-items: flex-end;
		height:$standard-height-small;
		@media(min-width: $bp-small){
			height:$standard-height;
		}
		border:0;
		margin:0 0 .5rem 0;
		padding:0;
	}
}

.navLink a{
	display: none;
	font: 1.1rem $heading-font;
	text-transform: lowercase;
	text-decoration: none;
	color:$btn-font-color;
	&:hover{
		color:$panel-color;
	}
	@media(min-width:$bp-xsmall){
		display:initial;
	}
	@media(min-width: $bp-small){
		font-size:1.25rem;
	}
}



