/*#nav - containing grid item
#navbarLinks - div containing ul for nav
.navLink - individual li containing link for nav

*/

#nav{
	background-color: $nav-color;
}

/*.sticky{
	display: none;
	position: fixed;
	top:0;
	left:0;
	z-index: 11111;
	height: 5rem;
}*/

#navbarLinks{
	display: hidden;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: initial;

	@media(min-width: $bp-xsmall){
		display: flex;
		height: $standard-height;
	}
	

	ul{
		display: none;

		@media(min-width: $bp-xsmall){
			display: flex;
			width:100%;
			flex-direction: row;
			justify-content: space-evenly;
			list-style-type: none;
			/*margin:0 0 1rem 0;*/
			padding: 0;
		}
	}

}

#navbarLinks-mobile{
	ul{
		display: none;
		flex-direction: column;
		list-style-type: none;
		margin:0 0 1rem 0;
		padding: 0;
		li{
			padding: .5rem 0;
		}
		@media(min-width: $bp-xsmall){
			display: none;
		}
	}
	@media(min-width: $bp-xsmall){
		display: none;
	}
}

.navLink{
	text-align: center;
	/*display: block;*/
	& a{
		display: inline-block;
		
		text-decoration: none;
		font: 1.5rem $heading-font;
		text-transform: lowercase;
	}

	@include link;

	@media(min-width: $bp-xsmall){
		display: inline-block;
		& a{
			font-size: 1rem;
			padding:1rem;
		}
	}
	@media(min-width: $bp-small){
		& a{
			font-size: 1.2rem;
			padding:1.25rem;
		}
	}
	@media(min-width: $bp-medium){
		& a{
			font-size: 1.5rem;
			margin-top: 1rem;
			padding:1.5rem;
		}
	}
}
