/*#nav - containing grid item
#navbarLinks - div containing ul for nav
.navLink - individual li containing link for nav

*/

#nav{
	background-color: $nav-color;
}

#navbarLinks{
	display: flex;
	justify-content: center;
	align-items: center;
	height: $standard-height;
	/*height:200px;*/
	

	ul{
		display: flex;
		flex-direction: column;
		list-style-type: none;
		margin:0;
		padding: 0;
		@media(min-width: $bp-xsmall){
			width:100%;
			flex-direction: row;
			justify-content: space-evenly;
		}
	}

}

.navLink{
	text-align: center;
	/*display: block;*/
	& a{
		display: inline-block;
		
		text-decoration: none;
		font: .75rem $heading-font;
		line-height: 1rem;
	}

	& a:visited, & a:link{
		color:$accent-color;
	};

	& a:hover, & a:active{
		color:$accent-color2;
	}
	@media(min-width: $bp-xsmall){
		display: inline-block;
		& a{
			font-size: 1rem;
		}
	}
}
