#topImg{
	background-color: red;

	&Div{
		width:100%;
		height: 200px;
		position: relative;
		overflow: hidden;
		@media(min-width: $bp-large){
			height: 400px;
		}
		img{
			width: 200%;
			position: absolute;
			left:-50%;
			top:-75%;
			@media(min-width: $bp-large){
				top:-75%;
			}
		}
	}
}
