.siteInfo{
	display: inline-flex;
	margin: 2rem 0;
}

#web{
	padding:15px;
}

.siteTitle{
	font: 2rem $heading-font;
	color:$heading-font-color;
	margin:0;
}

.siteImg{
	max-width: 300px;
}


.siteDescription{
	font: 1.25rem $main-text-font;
	color:$main-font-color;
	margin: 0 1rem;
}
