//slider handle
#custom-handle {
    width: 3em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
   	color: $btn-font-color;
   	font-size: initial;
  }

#slider{
	width:100%;
	max-width: 600px;
	margin:0 auto;

}

//hamburger

#menuOpen{
  display: block;
  width: 60px;
  height: 45px;
  position: relative;
  margin: 10px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  @media(min-width: $bp-xsmall){
    display: none;
  }
}

#menuOpen span{
  display: block;
  position: absolute;
  height: 6px;
  width: 100%;
  background: #d3531a;
  border-radius: 25px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;

}



/* Icon 3 */

#menuOpen span:nth-child(1) {
  top: 0px;
}

#menuOpen span:nth-child(2),#menuOpen span:nth-child(3) {
  top: 18px;
}

#menuOpen span:nth-child(4) {
  top: 36px;
}

#menuOpen.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

/*#navbarLinks.open{
  height:300px;
}
*/
#menuOpen.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#menuOpen.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#menuOpen.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}