//slider handle
#custom-handle {
    width: 3em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
   	color: $accent-color3;
   	font-size: initial;
  }

#slider{
	width:100%;
	max-width: 600px;
	margin:0 auto;

}