$main-text-font:'Domine', serif;
$heading-font:'Titillium Web', sans-serif;
$article-font:'Comfortaa', cursive;

/*Colors*/

//COLORS--------------
//light grey:		#E6E8E6		230,232,230
//grey:			#CED0CE		206 208 206
//light green:	#9FB8AD		159 184 173
//dark green:		#475841		71, 88, 65
//dark grey:		#3F403F		63,64,63

$bg-color:#E6E8E6;
$nav-color:#100894;
$footer-color:#9FB8AD;
$main-font-color:#3F403F;
$btn-font-color:#CED0CE;
$accent-color:#475841;
$heading-font-color:#575841;