


//Subsections

#wrapper-head{
	/*height: 100vh;*/

	display:grid;
	grid-template-rows: $standard-height;

}





#wrapper-body{
	margin:0 auto;
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	width: 1200px;
}

#wrapper-footer{

	display:grid;
	grid-template-rows: minmax($standard-height auto);

}



