#brand{
	grid-area: brand;
	justify-self: center;
	align-self: center;
	height: $standard-height;
	width: 100%;
}

#nav{
	grid-area: nav;justify-self: center;
	align-self: center;
	height: $standard-height;
	width: 100%;
}

#topImg{
	grid-area: topImg;
}

#about{
	grid-area: about;
}

#articles{
	grid-area: articles;
}

#web{
	grid-area: web;
}

#photo{
	grid-area: photo;
}

#graphics{
	grid-area: graphics;
}

#contact{
	grid-area: contact;
}

#footer{
	grid-area: footer;
}


.wrapper{
	/*height: 100vh;*/
	display:grid;
	/*grid-template-columns: repeat(2,1fr);*/
	/*grid-template-rows: minmax($standard-height-small $standard-height auto);*/
	grid-template-areas: 
	"brand brand brand"
	"nav nav nav"
	"topImg topImg topImg"
	"about about about"
	"articles articles articles"
	"web web web"
	"photo photo photo"
	"graphics graphics graphics"
	"contact contact contact"
	"footer footer footer";
	@media (min-width: $bp-small){
		grid-template-columns: repeat(3,1fr);
		grid-auto-rows: minmax($standard-height, auto);
		grid-template-areas: 
			"brand nav nav"
			"topImg topImg topImg"
			"about about articles"
			"web web web"
			"photo photo photo"
			"graphics graphics graphics"
			"contact contact contact"
			"footer footer footer";
	}
}

