*{
	box-sizing: border-box;
}

body{
	background-color: $bg-color;
	font-family: $main-text-font;
	font-size: 10px;
}

h1,h2{
	font-family:$heading-font;
	letter-spacing: .35rem;
	font-weight: normal;
	text-transform: lowercase;
}

h1{
	font-size:2.5rem;
}

p{
	font-size: 1rem;
}

.sectionTitle{
	color:$title-font-color;
	background-color: $title-bg-color;
	text-align: center;
	padding:3rem 0;
	margin:2rem 1rem 1rem;
	border-top: .05rem solid $accent-color3;
	border-bottom: .05rem solid $accent-color3;
}

.heading-description{
	font-size: .85rem;
	font-family: $article-font;
	letter-spacing: initial;
	line-height: 1;
	font-weight: normal;
	text-transform: none;
	color:$accent-color3;

}

.code{
	font-family: monospace;
	background-color: $code-bg-color;
	border-radius: 25px;
	padding:0 .15rem;
	
	@media(min-width: $bp-small){
		padding:.15rem .35rem;
		border:solid .15rem $accent-color2;
	}
}